<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MovieList.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>477AD3122A9CBFA100524D86</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>477AD3222A9CBFA300524D86</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>477AD32C2A9CBFA300524D86</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
